  .col .card:hover,.hover-zoom .card {
    transition: transform 0.3s ease;
  }

  .col .card:hover,.hover-zoom:hover .card {
    transform: scale(1.03);
  }

  .mainContainer.bg-primary {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.mainContainer.bg-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('https://files.catbox.moe/mk2mi9.gif');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 9s ease-in-out;
}

.mainContainer.bg-primary:hover::before {
  opacity: 0.3;
}